src/main/mule/ci_cd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="12c03ea4-6aa7-4191-8ec2-97c2f67be52b" >
		<http:listener-connection host="0.0.0.0" port="8081" >
		</http:listener-connection>
	</http:listener-config>
	<flow name="ci_cd-demoFlow" doc:id="9f50777a-5798-4076-a00f-933a8edc31a5" >
		<http:listener doc:name="Listener" doc:id="53c05756-17d2-4075-b8b4-864c889444ae" config-ref="HTTP_Listener_config" path="/CICDPIPELINE"/>
		<set-payload value="#['THIS IS MY 1ST CI CD PROJECT   ']" doc:name="Set Payload" doc:id="da783f99-65a2-4e05-b52f-a35d6e0834c3" />
	</flow>
</mule>
